<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andre.trainingm2.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.andre.trainingm2.app.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                    android:value=".MainActivity">
            </meta-data>
        </activity>

        <activity
            android:name="com.andre.trainingm2.app.NewContactActivity"
            android:label="@string/title_activity_new_contact"
            android:parentActivityName="com.andre.trainingm2.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" >
            </meta-data>
        </activity>

        <activity
            android:name="com.andre.trainingm2.app.EditContactActivity"
            android:label="@string/title_activity_edit_contact"
            android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity">
                       </meta-data>
        </activity>

    </application>

</manifest>
